@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Audiowide&family=Montserrat:wght@300&family=PT+Sans&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
}
/*---HEADER, LOGO AND MENU---*/

header{
    width: 100%;
    height: 80px;
    background-color: #000;
    overflow: hidden;
    color: white;

}
#logo{
    width: 33%px;
    height: 75px;
    margin: 5px 50px;
    float: left;
}

#menu-links{
    width: 100%;
    height: 75px;
    text-align: right;
    margin: auto;

}
#menu-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
    margin: 10px 30px;

}
#menu-links a{
    font-family: 'Audiowide', cursive;
    font-size: 16px;
    color: #80ccff;
    text-decoration: none;
}

#menu-links a:hover{
    color:  #ff4dd2;
    font-size: 18px;
}

.active{
    font-size: 18px;
    color:  #ff4dd2;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

/*---FIRST SECTION, BACKGROUND IMAGE---*/

#background-image{
    background-image: url(../images/wiz_bakgrund_blurr.jpg);
    height: 700px;
    width: 100%;
    top: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ccddff;
}
.latest-album{
    display: block;
    margin: 40px auto 10px auto;
    width: 50%;
    height: 30rem;
    width: 30rem;
    padding: 5px;
    border: 3px solid #ddd;
    border-radius: 5px;

    animation-name: album-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    }


/*--ZOOM EFFECT FOR LATEST-ALBUM CLASS-- */

@keyframes album-zoom{
from{
    transform: scale(0.7)
}
to{
    transform: scale(1);
}
}

/*-- BUTTONS WITH LINK UNDER LATEST-COVER--*/

.btn-container{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.left-btn, .right-btn{
    background-color: rgba(64, 64, 64, 0.6); 
    border: 1px solid white; 
    padding: 9px 10px; 
    cursor: pointer; 
    width: 15%;
    border-radius: 5px;
}
.left-btn a{
    font-family: 'Audiowide', cursive;
    color: white;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
}
.right-btn a{
    font-family: 'Audiowide', cursive;
    color: white;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
}      
.left-btn:hover {
    background-color: black;
}
.right-btn:hover {
    background-color: black;
}

/*--ABOUT SECTION--*/

#about{
   background-image: url(../images/about.jpg); 
    width: 100%;
    height: 950px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
.about-container{
    width: 100%;
    height: 700px;
}
.welcome h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Audiowide', cursive;
    padding: 20px 0;
    margin-top: 20px;
}

.text-box{
    width: 45%;
    display: inline-block;
    margin: 20px 50px;
    padding: 0px 5px;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8);
}
.text-box h3{
    font-size: 30px;
    font-weight: 800; 
    margin: 20px 0px;
    font-family: 'Audiowide', cursive;
}
hr{
    margin: 20px 0px;
}
.about-image{
    display: inline-block;
    float: right;
    top: 0;
    margin: 30px 150px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    
    
}
.tommy-picture{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.booking-container{
    display: block;
    text-align: left;
    width: 100%;
    margin-left: 30px;
    padding: 20px;
}

.contact-btn{
    background-color: rgba(64, 64, 64, 0.6); 
    border: 1px solid black; 
    padding: 9px 10px; 
    cursor: pointer; 
    width: 15%;
    border-radius: 5px;
}
.contact-btn a{
    font-family: 'Audiowide', cursive;
    color: white;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
}
.contact-btn:hover {
    background-color: black;
}

/*--MUSIC SECTION--*/

#music{
    width: 100%;
    height: auto;
}
.music-header{
    top: 0;
    height: 75px;
    background-color: black;
}

.music-header h2{
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: white;
    
}
/* -Style all the albums in a grid- */
.grid-container {
    display: grid;
    width: auto;
    height: 900px;
    background-image: url(../images/music-bgn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    justify-content: center;
    align-content: space-evenly;
    background-color: #800060;
    padding: 10px;
    grid-gap: 50px 100px;
    grid-template-areas: 
    "photo1 photo2 photo3"
    "photo4 photo5 photo6";
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
  }
  .photo1, .photo2, .photo3, .photo4, .photo5, .photo6 {
      grid-area: photo1 photo2 photo3 photo4 photo5 photo6;
      height: 100%;
      width: 100%;
      background-size: cover;
  }
  .photo1>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo2>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo3>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo4>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo5>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo6>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .photo1:hover, .photo2:hover, .photo3:hover, .photo4:hover, .photo5:hover, .photo6:hover{
    background-color: #5900b3;
  }

.grid-container p{
    color: white;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.grid-text{
    color: white;
    text-align: center;
    bottom: 0;
    height: 75px;
    background-color: black;
    padding: 10px;
}