@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Audiowide&family=Montserrat:wght@300&family=PT+Sans&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
    
}

body{
    font-family: 'Montserrat', sans-serif;
    
}
/*---HEADER, LOGO AND MENU---*/

.nav-container{
    width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
    flex-direction: row;
}
.logo img{
    max-width: 100%;
    height: 75px;
    width: auto;
}

.main-header .nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    background-color: black;
    width: 100%;
}

.main-nav  {
	margin: 1em 0 .5em;
	text-align: center;
    display: inline;
}

.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
    color: #80ccff;
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    font-size: 16px;
}

.main-nav a:hover{
    color:  #ff4dd2;
    font-size: 16px;
    border-bottom: 1px solid #ff4dd2;
}
.active{
    color:  #ff4dd2;
    border-bottom: 1px solid #ff4dd2;
}
.main-nav .icon {
    display: none;
  }

/*---FIRST SECTION, BACKGROUND IMAGE---*/
#background-image{
    width: 100%;
    overflow: hidden;
    height: fit-content;
}
.hero-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-image: url(../images/wiz_bakgrund_blurr.jpg);
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ccddff;
    margin: 0 auto;
    padding: 3em;
}
.out-now h2{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Audiowide', cursive;
}

.latest-album {
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em auto;
    height: 30rem;
    width: 30rem;
    padding: 0.2%;
    border: 3px solid #ddd;
    border-radius: 5px;
    height: auto;

    animation-name: album-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    }

    .latest-album img{
        max-width: 100%;
        height: auto;
    }
    .latest-album p{
        text-align: center;
        font-size: 20px;
        color: white;
    }


/*--ZOOM EFFECT FOR LATEST-ALBUM CLASS-- */

@keyframes album-zoom{
from{
    transform: scale(0.7)
}
to{
    transform: scale(1);
}
}

.out-now{
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    padding: 1%;
    font-weight: 700;
}


/*-- button links under the album--*/

.btn-container{
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}


.btn-container > a{
    background-color: rgba(64, 64, 64, 0.6); 
    border: 1px solid white; 
    padding: 9px 10px; 
    cursor: pointer; 
    width: auto;
    border-radius: 5px;
    margin: 0.2em;
}
.left-btn {
    font-family: 'Audiowide', cursive;
    color: white;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
}
.right-btn {
    font-family: 'Audiowide', cursive;
    color: white;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
}      
.left-btn:hover {
    background-color: black;
}
.right-btn:hover {
    background-color: black;
}

/*--ABOUT SECTION--*/
#about{
    width: 100%;
    overflow: hidden;
    height: fit-content;
    
}
#about-header{
    width: 100%;
    padding: 2%;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*flex for images*/
.about-grid {
    padding: 1em;
    
   }
   
   .about-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em;
   }
   
   .about-item {
    flex: 1 1 50%;
    padding: 0.5em;
   }
   
   .item-inner {
    background-size: cover;
    background-image: url(../images/flex1.jpg);
    padding-top: calc(100% / (16/9));
   }
  
   .about-item:nth-child(2) .item-inner {
    background-image: url(../images/flex2.jpg);
   }
   .about-item:nth-child(3) .item-inner {
    background-image: url(../images/flex3.jpg);
   }
   .about-item:nth-child(4) .item-inner {
    background-image: url(../images/flex4.jpg);
   }

   @media screen and (min-width: 480px) {
    .about-item {
     flex: 1 1 100%;
     padding: 0.2em;
     
    }


   }
   
   @media screen and (min-width: 768px) {
    .about-item {
     flex: 1 1 50%;
    }
   }
   
   @media screen and (min-width: 980px) {
    .about-item {
     flex: 1 1 50%;
    }
   }

#about-header h2{
    font-size: 40px;
    font-family: 'Audiowide', cursive; 
    color: #fff;
    text-shadow: -1px -1px 0px #99bbff,
    3px 3px 0px #99bbff,
    6px 6px 0px #e600ac;
}
#text-box{
    width: 100%;
    height: 700px;
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about-text h3{
    font-size: 30px;
    font-weight: 800; 
    margin: 20px 0px;
    font-family: 'Audiowide', cursive;
}
hr{
    margin: 1em 4em;
}
.about-text{
    justify-content: center;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin: 1em 4em;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.7);

}

.booking-container{
    text-align: center;
    width: 100%;
}

.contact-btn{
    background-color: rgba(64, 64, 64, 0.6); 
    border: 1px solid black; 
    padding: 9px 10px; 
    cursor: pointer; 
    border-radius: 5px;
}
.booking-container > a{
    font-family: 'Audiowide', cursive;
    color: white;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
}
.contact-btn:hover {
    background-color: black;
}

/*--MUSIC SECTION--*/

#music{
    width: 100%;
    height: auto;
}
.music-header{
    top: 0;
    height: 75px;
    background-color: black;
    
}

.music-header h2{
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    text-align: center;
    padding: 2%;
    color: white;

    text-shadow: -1px -1px 0px #800060,
    3px 3px 0px #99bbff,
    6px 6px 0px #e600ac;
    
}
/* -Style all the albums in a grid/flex- */

.grid-container{
    display: grid;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 3rem;
    width: 100%;
    height: 900px;
    grid-template-columns: 18rem 18rem 18rem;
    grid-template-rows: 18rem 18rem;
    align-content: space-around;
    background-image: url(../images/music-bgn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-areas: 
    "photo1 photo2 photo3"
    "photo3 photo4 photo6";
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 1.5%;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 0.5rem;
    
}
.photo1, .photo2, .photo3, .photo4, .photo5, .photo6 {
    background-size: cover;
}
.photo1>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo2>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo3>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo4>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo5>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo6>a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .photo1:hover, .photo2:hover, .photo3:hover, .photo4:hover, .photo5:hover, .photo6:hover{
    background-color: #e600ac;
    opacity: 0.7;
  }
  .grid-container p{
    color: black;
    margin: 10px;
    padding: 2%;
    text-align: center;
}
.grid-text{
    color: white;
    text-align: center;
    bottom: 0;
    height: 10vh;
    background-color: black;
    padding: 2%;
}

.spotify{
    display: block;
    width: 70%;
    text-align: center;
    height: 35vh;
    border-radius: 5px;
    margin: 0 auto;
}


.spotify-list iframe{
    max-width: 100%;
    height: 30vh;
    width: auto;
}

.spotify-list{
    background-color: #000;
    width: 100%;
    height: 45vh;
    padding: 3%;
}



/*--EVENTS SECTION--*/

#events{
    width: 100%;
    overflow: hidden;
    height: fit-content;
    background-image: url(../images/mapp1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#events h2{
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    color: black;

    text-shadow: -1px -1px 0px #800060,
    3px 3px 0px #e600ac,
    6px 6px 0px #99bbff;
}
.event-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.event-box{
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: column;
    margin: 2em;
    padding: 5px 5px 10px 5px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;

}
.event-box h3{
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    font-family: 'Audiowide', cursive;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 20px 0;
    font-weight: 800;
}
table{
    text-align: left;
}

th{
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
td{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
td > i{
    color: #e600ac;
    padding-right: 3px;
}
.booking-container{
    display: block;
    text-align: center;
    width: 100%;
    margin-left: 30px;
    padding: 20px;
}

#contact-btn{
    background-color: rgba(83, 83, 83, 0.6); 
    border: 1px solid white; 
    padding: 9px 10px; 
    cursor: pointer; 
    width: 15%;
    border-radius: 5px;
}
.booking-container > a{
    font-family: 'Audiowide', cursive;
    color: white;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
}
#contact-btn:hover {
    background-color: black;
}

.disclaimer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: rgba(250, 187, 229, 0.9);
    border-radius: 5px;
    text-align: center;
    margin: 2em;
    
    padding: 10px;
    border: 2px solid #000000;
}
.disclaimer h3{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
}
.disclaimer p{
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    font-weight: 800;
}
/*--CONTACT SECTION--*/

#contact{
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-image: url(../images/wiz_bakgrund_blurr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#contact h2{
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    color: white;

    text-shadow: -1px -1px 0px #800060,
    3px 3px 0px #99bbff,
    6px 6px 0px #e600ac;
}
  
  
.contact-form{
    margin: 60px auto 10px auto;
    display: block;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 800;
    color: #99bbff;
    background-color: rgba(128, 0, 96, 0.3);
    border-radius: 5px;
    padding: 30px;
}
.contact-form h3{
    font-family: 'Audiowide', cursive;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.text-input{
    background: transparent;
    color: black;
    width: 100%;
    height: 35px;
    margin: 5px 0 20px 0;
    border: 1px solid #e600ac;
    border-radius: 2px;
}
.text-input:hover{
    border-color: #99bbff;
}
.text-input:focus{
    background-color: white;
}
.contact-form textarea{
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat';
    padding-top: 2%;
}
    
::-webkit-input-placeholder{
    color: #ffb3ec;
    padding-left: 2%;
    font-family: 'Montserrat';
}

.send-btn{
    font-family: 'Audiowide', cursive;
    color: #fff;
    font-size: 28px;
    text-align: center;
    background-color: rgba(64, 64, 64, 0.6); 
    border: 1px solid black; 
    padding: 9px 10px; 
    cursor: pointer; 
    border-radius: 5px;
}

.send-btn:hover {
    background-color: black;
}
/*--FOOTER SECTION--*/

footer{
    height: 150px;
}
.footer-container{
 background-color: black;
 background-image: linear-gradient(to bottom, #0000, #e600ac);
 display: inline-block;
 width: 100%;
}

.social-links{
    text-align: center;
    padding-top: 3%;
}
.social-links li{
    display: inline;
}

.social-links i{
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: #e600ac;
}
.social-links i:hover{
    color: black;
}
.footer-text{
    text-align: center;
    color: #99bbff;
}
.footer-text h4{
    padding: 1%;
}
.footer-text p{
    padding: 2%;
}


/*scroll botton to take the user to top page while scrolling*/
html{
    scroll-behavior: smooth;
}
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 100px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid#000;
    background-color: rgba(64, 64, 64, 0.6); 
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
  }
  #myBtn:hover{
      background-color: #000;
  }
/*For medium screen sizes from 950px and down*/
@media screen and (max-width: 960px){

    /*Menu*/
    .nav-container{
		justify-content: center;
        flex-direction: column;
	}
    .main-nav a:not(:first-child) {display: none;}
    .main-nav a.icon {
      display: block;
    }
    .main-nav.responsive {position: relative;}
    .main-nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .main-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .main-nav {
        width: 100%;
        justify-content: center;
    }
    .main-nav a {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .main-nav a:hover {
        border-top: 1px solid #ff4dd2;
    }
    .active{
        border-top: 1px solid #ff4dd2;
    }
    /*about*/
    .about-text{
        font-size: 18px;
        margin: 1em;
        padding: 1%;
    }

    .booking-container{      
        text-align: center;
        width: 100%;
        margin-top: 5em;
        padding: 2%;
    }
    #text-box{
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 90%;
        background-attachment: unset;
    }
    /*music*/
    .grid-container{
        grid-template-columns: repeat(auto-fit, 12rem);
        justify-content: center;
        height: max-content;
    }
    /*event*/
    #events{
        background-repeat: no-repeat;
        background-position-y: 30%;
        background-attachment: unset;
    }


@media screen and (min-width: 320px) and (max-width: 600px){
    .about-item {
        flex: 1 1 100%;
        padding: 0.1em;
        
       }

#text-box{
    height: 120vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 95%;
    background-attachment: unset;
}  
.grid-container{
    grid-template-columns: repeat(auto-fit, 10rem);
    justify-content: center;
    column-gap: 1rem;
}
.grid-text{
    height: 15vh;

}
.booking-container{
            
    text-align: center;
    width: 100%;
    margin-left: 0px;
    padding: 0px;
}
.spotify-list iframe{
    max-width: 100%;
    height: 15rem;
    width: auto;
}

.spotify-list{
    background-color: #000;
    width: 100%;
    height: 35vh;
    padding: 3%;
}

#events{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-attachment: unset;
}


td{
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    
}
#contact-btn{
    background-color: rgba(65, 65, 65, 0.6);
    border: 1px solid black; 
}

.event-box{
    width: 100%;
}
.disclaimer{
    width: 100%;
}


.social-links i{
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: #e600ac;
}
.social-links i:hover{
    color: #99bbff;
}

.top {display: none;}

}
}
@media screen and (max-width: 330px){

    .left-btn {
        font-size: 20px;
       
    }
    .right-btn {
        font-size: 20px;

    }

    #text-box {
        height: 200vh;
    }

    .grid-container{
        grid-template-columns: repeat(auto-fit, 14rem);
        justify-content: center;
        column-gap: 1rem;
    }
    .grid-text{
        height: 20vh;
    
    }
    
    .spotify-list{

        height: auto;
       
    }

}