@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/*---HEADER, LOGO AND MENU---*/

header{
    width: 100%;
    height: 80px;
    background-color: #000;
    overflow: hidden;
    color: white;

}
#logo{
    width: 33%px;
    height: 75px;
    margin: 5px 50px;
    float: left;
}

#menu-links{
    width: 100%;
    height: 75px;
    text-align: right;
    margin: auto;

}
#menu-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
    margin: 10px 30px;

}
#menu-links a{
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    color: #80ccff;
    text-decoration: none;
}

#menu-links a:hover{
    color:  #ff4dd2;
    font-size: 18px;
}

.active{
    font-size: 18px;
    color:  #ff4dd2;
    border: 1px solid white;
    padding: 5px 10px;
    margin: 5px;
}

/*---FIRST SECTION, BACKGROUND IMAGE---*/

#background-image{
    background-image: url(../images/wiz_bakgrund_blurr.jpg);
    height: 670px;
    width: 100%;
    top: 0;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.latest-album{
    display: block;
    margin: 40px auto 10px auto;
    width: 50%;
    height: 450px;
    width: 450px;
    padding: 5px;
    border: 3px solid #ddd;
    border-radius: 5px;

    animation-name: album-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    }


/*--ZOOM EFFECT FOR LATEST-ALBUM CLASS-- */
@keyframes album-zoom{
from{
    transform: scale(0.7)
}
to{
    transform: scale(1);
}
}
/*--H2, BUTTONS WITH LINK UNDER LATEST-COVER--*/

h2{
    font-size: 26px;
    font-family: 'Architects Daughter', cursive;
    color: white;
    text-align: center;
    padding: 5px;
    letter-spacing: 3px;
}

button{

        background-color: DodgerBlue; /* Blue background */
        border: none; /* Remove borders */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        display: inline-block;
      }
      button a{
          color: white;
          text-decoration: none;
          
      }
button i{
          padding: 5%;
          font-size: 16px;
          color: green;
      }
      /* Darker background on mouse-over */
button:hover {
        background-color: RoyalBlue;
      }
